.modal {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 2s ease;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(44, 44, 44, 0.5);
}

.modal__text {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 5% 20%;
  border-radius: 15px;
  background-color: white;
}

.time {
  text-align: right;
  padding-top: 3%;
  padding-right: 2em;
  font-size: 50px;
  background-color: rgb(248, 187, 134);
}
